# Semana 2
## *Probabilidade básica - Propriedades*

In [1]:
#importanto as bibliotecas
import pandas as pd
import numpy as np

### 1. Foram coletados os dados de 16 meninas, sobre Escolaridade e se Trabalham ou não como programadoras.

In [2]:
dic1 = {'escolaridade' : ['superior completo', 'superior incompleto', 'ensino médio'],
       'não': [1,3,2], 'sim' : [6,3,1]}
pyladies_escolaridade = pd.DataFrame(dic1)
pyladies_escolaridade.head()

          escolaridade  não  sim
0    superior completo    1    6
1  superior incompleto    3    3
2         ensino médio    2    1

1a.  Qual a probabilidade dela ter Superior Completo **E (interseção)** Trabalhar como programadora?

In [3]:
# probalidade do ensino completo (P(A))
7/16

0.4375

In [4]:
#probalidade de tralhar como programadora (P(B))
10/16

0.625

$ P(A) \cap P(B)$

In [5]:
#interseção
6/16

0.375

1b. probabilidade dela ter **até** o Ensino Médio?

In [6]:
pyladies_escolaridade['total'] = pyladies_escolaridade.sim + pyladies_escolaridade.não
pyladies_escolaridade.head()

          escolaridade  não  sim  total
0    superior completo    1    6      7
1  superior incompleto    3    3      6
2         ensino médio    2    1      3

In [7]:
sum(pyladies_escolaridade.total)

16

In [8]:
#ter apenas o ensino médio
3/16

0.1875

1c. Qual a probabilidade dela **ter além** do Ensino Médio?

Propiedade da probabilidade

$ P(A) + P(B) = 1 $

P(ter colegial) = $3/16$

P(ter as duas coisas) = 16/16 = 1

In [9]:
(1-3/16) #13/16

0.8125

1d. Qual a probabilidade dela ter **apenas** Ensino Médio **ou** não trabalhar como programadora?

In [10]:
#ensino médio
3/16

0.1875

In [11]:
sum(pyladies_escolaridade.não)/16 #6/16

0.375

$ P(A) + P(B) - (P(A) \cap P(B))$

In [12]:
3/16+6/16-2/16 # = 7/16

0.4375

### 2. Com o data set tips vamos pensar nas seguintes situações:
a. Escolhido aleatoriamente uma observação do data set, qual a probabilidade de termos uma mulher fumante?

b. E quando é mais provável ter clientes fumantes (independente do sexo), durante a semana ou aos finais de semana?

In [13]:
#importando o dataset tips
tips = pd.read_csv('https://raw.githubusercontent.com/PyLadiesSP/data-science/master/workshops/workshop_introdu%C3%A7%C3%A3o_estatistica_pandas/tips.csv')

In [14]:
#confirmando a importação
tips.head()

,total_conta,gorjeta,genero,fumante,dia,horario,pessoas_mesa,tempo_permanencia
0,16.99,1.01,Feminino,nao,dom,jantar,2,41
1,10.34,1.66,Masculino,nao,dom,jantar,3,40
2,21.01,3.50,Masculino,nao,dom,jantar,3,49
3,23.68,3.31,Masculino,nao,dom,jantar,2,43
4,24.59,3.61,Feminino,nao,dom,jantar,4,34

### a. Escolhido aleatoriamente uma observação do data set, qual a probabilidade de termos uma mulher fumante? ### 

1) Identificar a probabilidade de ser mulher + fumante

In [59]:
# identificando o tamanho do dataset(nosso campo amostral) (244 observações)
tips.shape

(244, 8)

In [45]:
# quantas mulheres são fumantes ? (número de )
tips.groupby('genero')['fumante'].value_counts()

genero     fumante
Feminino   nao        54
           sim        33
Masculino  nao        97
           sim        60
Name: fumante, dtype: int64

In [58]:
#probabilidade mulher + fumante
print("A probabilidade de ser mulher e fumante é de:", "%.2f" %((33/244)*100))

A probabilidade de ser mulher e fumante é de: 13.52

### b. E quando é mais provável ter clientes fumantes (independente do sexo), durante a semana ou aos finais de semana?

In [89]:
#como está distribuído os clientes fumantes e não fumantes ao longo dos dias da semana ?
tips.groupby('dia')['fumante'].value_counts()

dia  fumante
dom  nao        57
     sim        19
qui  nao        45
     sim        17
sab  nao        45
     sim        42
sex  sim        15
     nao         4
Name: fumante, dtype: int64

In [129]:
#classificando em dia de semana e final de semana
# criando uma nova variável com a classificação
tips['fds'] = tips['dia'].map({'dom':'sim','sab':'sim', 'qui':'nao','sex':'nao'})
tips.head()

,total_conta,gorjeta,genero,fumante,dia,horario,pessoas_mesa,tempo_permanencia,fds
0,16.99,1.01,Feminino,nao,dom,jantar,2,41,sim
1,10.34,1.66,Masculino,nao,dom,jantar,3,40,sim
2,21.01,3.50,Masculino,nao,dom,jantar,3,49,sim
3,23.68,3.31,Masculino,nao,dom,jantar,2,43,sim
4,24.59,3.61,Feminino,nao,dom,jantar,4,34,sim

In [131]:
#encontrando a distribuição de fumantes por final de semana
tips.groupby('fds')['fumante'].value_counts()

fds  fumante
nao  nao         49
     sim         32
sim  nao        102
     sim         61
Name: fumante, dtype: int64

In [136]:
#distribuição dos clientes no final de semana
tips['fds'].value_counts()

sim    163
nao     81
Name: fds, dtype: int64

Quando olhamos especifamente o final de semana nosso espaço amostral ($\omega $) de clientes se altera para 163. Por isso para achar a probabilidade de ser cliente e fumante no final de semana é: $ \frac{totalFumantesFDS}{clientesFDS}$

In [139]:
#probabilidade de fumantes
print('A probabilidade de se aleatoriamente escolhermos uma pessoal fumante no final de semana é de:' ,61/163)

A probabilidade de se aleatoriamente escolhermos uma pessoal fumante no final de semana é de: 0.37423312883435583